body {
    margin: 0;
    font-family: "inter", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

hr {
    width: 85%;
}

header {
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

header>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.075em;

    color: #FFFFFF;
}

.card {

    padding: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.card .description {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Inter';

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;

}

.location a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #2B283A;
}

.date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A;
}

.description-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */


    color: #2B283A;
}